h1{color:Blue; text-align:center}
h3{color:aqua; text-align:center}
p{color:blueviolet; text-align:center}
<div class="Page 2!">
  <p>Poem #1: Tears are your release, smiles always seem to cease, but when times get tough laughter is like a summer breeze. ~Chloe Rose</p>
</div>
   
