h1{color:Blue; text-align:center}
h3{color:aqua; text-align:center}
p{color:blueviolet; text-align:center}


<ul>
  <li><a href="default.asp">Home</a></li>
  <li><a href="news.asp">News</a></li>
  <li><a href="contact.asp">Contact</a></li>
  <li><a href="about.asp">About</a></li>
</ul>
Try it Yourself »



   
