h1{color:Blue; text-align:center;}
h3{color:aqua; text-align:center;}
p{color:blueviolet; text-align:center;}


.menuitem{
   width:9px;
   line-height: 2px;
   background-color:#1d2129;
}

.side-by-side {
  width: 100%;
  border: 1px solid black;

}
.side-by-side li {
  display: inline;
}






   
